@media (max-width: 550px) {
  /* ---------------- hemburger -------------- */
  .hemburger i {
    background-color: #000000;
  }

  /* ------------------ Logo -------------------- */
  #logo {
    color: black;
    font-size: 17px;
    border-radius: 3px;
    padding: 5px 10px;
  }

  #logo::first-letter {
    color: red;
    font-size: 25px;
  }

  /* ----------------- Navigation Bar ------------------ */
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px 0;
    position: fixed;
    top: 0;
    z-index: 10;
    /* background-color: #08213761; */
    background-color: beige;
  }

  /* -------------- Comic Section ----------------- */

  .allBookHomePage {
    padding-top: 20%;
  }

  .comics {
    margin-bottom: 10%;
  }

  .comic-heading {
    background-color: beige;
  }

  .comic-item {
    width: 95%;
    /* display: flex; */
    align-items: center;
    margin-top: 5%;
  }

  .comic-items img {
    width: 90px;
    height: 100px;
  }

  .comic-items {
    width: 95%;
    /* display: flex; */
    align-items: center;
  }

  .comic-items li {
    height: 156px;
  }

  /* ************************************************** */

  /* .search-bar {
    position: absolute;
    top: 50%;
  } */

  .search-bar i {
    margin: 0;
  }

  .menu {
    top: 10rem;
    width: 85%;
    border-radius: 5px;
  }

  .backdrop {
    backdrop-filter: blur(4px);
    /* background-color: #00000066; */
  }

  .links ul {
    display: none;
  }

  .home-1 {
    width: 80%;
    height: 80vh;
    background-color: beige;
    display: flex;
    align-items: center;
    padding: 0 4px;
    flex-direction: column;
    margin: 40px 0;
    padding: 30px 21px;
  }

  .pic {
    width: 100%;
  }

  .pic img {
    width: 100%;
    height: 45vh;
    border-radius: 3px;
    animation: scale 2s linear;
  }

  .storeItem {
    width: 80%;
    display: flex;
    margin: 0;
    margin-bottom: 2%;
    padding: 5px 2px;
    background-color: white;
    border: 1px solid black;
  }

  .storeItem img {
    height: 70px;
    width: 56px;
  }

  .storeItem h2 {
    font-size: 14px;
  }

  .storeItem span {
    color: #ebd5b9;
    font-size: 10px;
    padding-top: 5px;
  }

  .cart-box {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
  }

  .no-cart {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
  }

  .no-cart p {
    color: red;
    margin-top: 5%;
  }

  .no-cart img {
    width: 50%;
  }

  .cartExit {
    color: black;
  }

  .cartBtn {
    margin: 2px;
    position: absolute;
    bottom: 10%;
    right: 3%;
    font-size: 10px;
    padding: 5px;
  }

  .cart-btn i {
    color: #1a1414;
    font-size: 19px;
  }

  .cartInfo {
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: column;
  }

  .menu ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .menu li {
    width: 89%;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
  }

  .menu li a {
    color: white;
    text-decoration: none;
  }

  .content {
    margin-left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content h1 {
    font-size: 4rem;
    color: red;
    animation: slide 2s linear;
    padding: 0 20px;
  }

  .book-store h1 {
    padding: 20px 15px;
    width: 80%;
    background-color: #000000;
    font-size: 25px;
    border-radius: 4px;
  }
}
