* {
  margin: 0;
  padding: 0;
  /* transition: all 2s; */
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* background: url("images/bg1.jpg") no-repeat center center/cover; */
}
/* utilities ------------------------------------------- */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.max-heigth {
  /* height: 100vh; */
}
.upper-text {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}

/* ------------------ home -section-------- */

.home-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 30px; */
  position: absolute;
  top: 0;
  flex-direction: columnz-index:-1;
}

.home-section h1 {
  font-size: 137px;
  font-weight: 900;
  color: #f9173f;
}

.home-section h2 {
  color: white;
  text-shadow: 0 0 3px black;
}

.home-1 {
  width: 80%;
  height: 70vh;
  background-color: beige;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.pic {
  width: 40%;
}

.pic img {
  width: 100%;
  height: 350px;
  border-radius: 3px;
  animation: scale 2s linear;
  object-fit: cover;
}

@keyframes scale {
  from {
    scale: 0.9;
    opacity: 0;
  }
  to {
    scale: 1.01;
    opacity: 1;
  }
}

.content {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.content h1 {
  font-size: 4rem;
  color: red;
  animation: slide 2s linear;
}

@keyframes slide {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.content-box1 {
  margin-top: 1rem;
  display: flex;
  color: black;
  animation: show 2s linear;
}

@keyframes show {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.content-box1 h2 {
  padding: 10px 20px;
  border: 0;
  border-right: 1px solid black;
  margin: 10px;
}

.content-box1 p {
  padding: 10px 20px;
  border: 0;
  margin: 10px;
}

#home-sec {
  background: linear-gradient(blueviolet, white);
}

.search-book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  border-bottom: 1px solid white;
  width: 100%;
  position: absolute;
  z-index: 999;
  background-color: #ff6580;
}

.search-bar {
  margin-top: 0%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  /* animation: searchAni 2s linear; */
}

@keyframes searchAni {
  from {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1);
    opacity: 0;
  }
  to {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
  }
}

.search-bar input {
  padding: 20px;
  width: 85%;
  border: none;
  font-size: 20px;
  font-family: system-ui;
  color: white;
  background-color: transparent;
}

.search-bar input:focus {
  outline: none;
}

.search-bar i {
  cursor: pointer;
  margin-left: 15px;
}

/* ---------------- Navigation Bar --------------------- */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 10;
  /* background-color: #08213761; */
  background-color: transparent;
}

.nav-btn {
  gap: 20px;
  background-color: white;
  padding: 5px 30px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

/* ------------------logo---------- */
#logo {
  color: white;
  font-size: 25px;
  padding: 5px 10px;
}

#logo::first-letter {
  color: red;
  font-size: 35px;
}

/* link */

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul {
  list-style: none;
  display: flex;
}

.links li {
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 20px;
  background-color: red;
  border-radius: 2px;
}
.links li:hover {
  border: 1px inset white;
  border-radius: 5px;
}

.links li a {
  color: white;
}

/*------------------------------------ cart btn------------------ */

.cart-btn {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-btn i {
  color: white;
  font-size: 25px;
  text-shadow: 0px 0px 4px black;
}

.no-cart {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.no-cart p {
  color: red;
  margin-top: 5%;
}

.no-cart img {
  width: 20%;
}

.cart-info p {
  margin-bottom: 7px;
}

.cart-info span {
  border: 1px solid black;
  padding: 1px 9px;
  border-radius: 9px;
}

 /* __________________menu page section _____________________  */

.menubar {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menubox {
  width: 100%;
  padding: 5px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menuhead {
  width: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  cursor:pointer;
  
}
.menuhead .head{

    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-bottom: 2px solid black;
    border-radius: 3px;
}
.menuhead .arrow{
    margin-left: 15px;
    font-weight: bold;

}
.moreop {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid pink;
  border-radius: 5px;
  background: rgb(255, 2, 86);
  overflow: hidden;
}
.moreop li {
  /* width: 100%; */
  font-size: 1rem;
  text-transform: capitalize;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  /* background: rgb(255, 0, 85); */
  color: white;
  list-style: none;
  margin: 5px;
}
 /* __________________ end of menu pagea _____________________  */



/*------------------------------------ Background image ------------------ */
.bgImg {
  width: 100%;
  height: 100vh;
  /* position: fixed; */
  top: 0;
  z-index: -1;
}

.bgImg video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/*------------------------------------ hemburger------------------ */

.hemburger i {
  color: white;
  font-size: 23px;
  /* background-color: #ff3659; */
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #00000066; */
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  opacity: 0;
  transition: 1s ease-in;
}

.menu {
  position: absolute;
  top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 70vh;
  background-color: white;
  color: white;
  z-index: 10;
  padding: 20px 0;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.menu ul {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu li {
  width: 89%;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  background-color: red;
  margin: 5px 0;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.menu span {
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  position: absolute;
  top: -15%;
  width: 10px;
  height: 10px;
  color: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

/* ------------------------- stor box ------------------------- */
.box {
  /* padding: 30px 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
}

.storeItem {
  background-color: black;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
  width: 90%;
  padding: 15px 10px;
  gap: 10px;
  border-radius: 2px;
  position: relative;
}

.storeItem h2 {
  color: burlywood;
  font-size: 2rem;
}

.storeItem span {
  color: burlywood;
}

.storeItem img {
  width: 25%;
  height: 40vh;
  border-radius: 1px;
}

.cartBtn {
  cursor: cell;
  border: none;
  padding: 8px 15px;
  font-size: 15px;
  background: linear-gradient(45deg, #c71a1a, #ff0000);
  border-radius: 2px;
  margin: 7px;
  color: wheat;
  position: absolute;
  bottom: 15%;
  right: 7%;
  font-size: 1.5rem;
  color: white;
  font-size: 20px;
}

.cartBtn:focus {
  transform: scale(0.95);
}

.cartInfo {
  width: 70%;
  height: 33vh;
}

/* ----------------- about section -------------------- */

.about-container {
  background-color: #030303ab;
  width: 100%;
  z-index: 5;
  transition: 0s;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

#about-sec {
  margin: 0px;
  padding: 0px;
}

.about {
  width: 100%;
  height: 75vh;
  width: 85%;
}

#intro-1,
#intro-2 {
  height: 100%;
}

#intro-1 {
  /* height: 100vh; */
  padding: 0px 25px;
  gap: 1rem;
  flex-basis: 80%;
  align-items: flex-start;
  flex-direction: column;
  /* text-align: left; */
  background-color: rgb(178, 107, 246);
  font-size: 2.6rem;
  font-family: "Arial Narrow";
  font-weight: bold;
}
#intro-1 img {
  position: absolute;
  right: 10%;
  top: 17vh;
  display: inline;
  width: 30%;
  border: 1px solid black;
  border-radius: 25% 25% 5px 5px;
}

#intro-1 p {
  font-size: 25px;
}
#intro-2 {
  flex-basis: 35%;
  background-color: rgb(148, 64, 225);
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: "Lucida Sans";
  font-weight: bold;
}
#intro-2 #work {
  transform: rotate(-90deg);
}

.close {
  cursor: pointer;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 3%;
  right: 3%;
}

/* --------------------------- Store --------------------------- */

.book-store {
  width: 100%;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.book-store h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  width: 75%;
  background-color: #082137;
  color: wheat;
}

.backdrop-cart {
  width: 100%;
  height: 100vh;
  background-color: #00000070;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(1px);
  overflow: hidden;
}

.backdrop-cart.showCart {
  display: flex;
}

.cart-box {
  width: 85%;
  overflow: scroll;
  list-style: none;
  border-radius: 3px;
  flex-direction: column;
  height: 60vh;
  padding: 20px;
  /* backdrop-filter: drop-shadow(2px 4px 6px black); */
  background-color: white;
  overflow-x: hidden;
  padding-top: 50px;
  color: white;
}

.cart-box li {
  width: 80%;
  background-color: white;
  padding: 10px 20px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  color: black;
}

.cartExit {
  color: black;
  position: absolute;
  right: 10%;
  top: 19%;
  font-size: 25px;
  z-index: 4;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

::-webkit-scrollbar-track {
  background-color: white;
}

/* -------------------------- search bar icon --------------------------- */
.search-icon {
  font-size: 12px;
  background-color: #ff3659;
  padding: 2px;
  cursor: pointer;
  border-radius: 50px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon span {
  color: #ffffff;
}

.search-section {
  overflow-y: scroll;
  height: 100vh;
}

.search-container {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  display: none;
  transition: display 1s;
  /* overflow-y: scroll; */
  z-index: 999;
}

.search-container.show {
  display: block;
  /* transform: translate(0px, 0px); */
}

.searchExit {
  cursor: pointer;
  font-size: 20px;
  width: 20%;
  color: white;
}

/* ----------------------------- Comics Section ---------------------------- */

.allBookHomePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  margin-bottom: 5%;
}

.comics {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.comic-heading {
  background-color: white;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #141256;
}

.comic-item {
  width: 85%;
  /* display: flex; */
  align-items: center;
}

.comic-item ul {
  width: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.comic-item ul::-webkit-scrollbar {
  height: 5px; /* Height of the horizontal scrollbar */
}

.comic-item ul::-webkit-scrollbar-thumb {
  background-color: gray; /* Color of the horizontal scrollbar track */
}

.comic-item ul::-webkit-scrollbar-track {
  background-color: #dddddd; /* Color of the horizontal scrollbar thumb */
}

.comic-item li {
  background-color: white;
  margin: 2% 2px;
  /* width: 25%; */
  height: 200px;
  list-style: none;
  padding: 5px;
}

.comic-item img {
  width: 130px;
  height: 145px;
}

.comic-name {
  width: 100%;
}

.comic-item h2 {
  color: black;
  font-size: 10px;
}

/* ----------------------------- Footer Section ---------------------------- */

/* Footer Styles */
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 40px 0px;
}

.footer h3 {
  color: #ff0000; /* Red header text color */
}

.footer p {
  font-size: 16px;
  line-height: 1.6;
}

/* Address and contact information */
.footer address {
  font-style: normal;
}

/* Social icons */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #0000ff; /* Blue icon color */
  font-size: 24px;
  text-decoration: none;
}

/* Hover effect for social icons */
.social-icons a:hover {
  color: #ff0000; /* Red hover color */
}
